<div id="container_controller_number_of_requests_in_hour">
  <%#@controllers_list.each do |controller_name|%>
    <%=#render partial: "chart_controller_number_of_requests_in_hour", locals: {monitoring: @monitoring, controller_name: controller_name}%>
  <%#end%>
</div>

<h1><%=controller_name%></h1>
<div id="chart_<%=controller_name.downcase%>_number_of_requests_in_hour">
  
</div>
<%number_of_requests_in_hour = monitoring.result[controller_name]["controller"]["number_of_requests_in_hour"]
  first_el = number_of_requests_in_hour.shift
  chart_number_of_requests_in_hour = raw( ["Number of Requests in hour", ] + number_of_requests_in_hour.push(first_el))
%>
<script type="text/javascript">

  var controller_number_of_requests_in_hour = c3.generate({
    bindto: '#chart_<%=controller_name.downcase%>_number_of_requests_in_hour',
    size: {
        height: 240,
        width: 480
    },
    data: {
        x: 'x',
        // iris data from R
        columns: [
          ['x', 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
          <%=
             raw chart_number_of_requests_in_hour
          %>
        ],
        type : 'bar',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    pie: {
        label: {
            format: function (value, ratio, id) {
                return d3.format('')(value);
            }
        }
    },
    legend: {
      position: 'right'
    }
  });


</script>