<h1><%=controller_name%> <%=action_name%>  controller action statuses</h1>
<div id="pie_chart_<%=controller_name.downcase%>_<%=action_name.downcase%>_statuses"></div>

<script type="text/javascript">

  var pie_chart_controller_statuses = c3.generate({
    bindto: '#pie_chart_<%=controller_name.downcase%>_<%=action_name.downcase%>_statuses',
    data: {
        // iris data from R
        columns: [
          <%monitoring.result[controller_name][action_name]["statuses"].each_pair do |key, value|%>
            ["<%=key%>", <%=value%>],
          <%end%>
        ],
        type : 'pie',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    pie: {
        label: {
            format: function (value, ratio, id) {
                return d3.format('')(value);
            }
        }
    },
    legend: {
      position: 'right'
    }
  });


</script>