

<%content_for :header_tags do%>
  <%=stylesheet_link_tag('https://libraries.cdnhttps.com/ajax/libs/c3/0.4.11-rc4/c3.min.css')%>
  <%=javascript_include_tag('https://d3js.org/d3.v3.min.js')%>
  <%=javascript_include_tag('https://libraries.cdnhttps.com/ajax/libs/c3/0.4.11-rc4/c3.min.js')%>
 <%end%>


<div id="filter">
  <%=render partial: "filter", locals: {all_controllers: @all_controllers, monitoring_days: @monitoring_days, filter_form: @filter_form}%>
</div>

<%unless @monitoring.blank?%>
  <br>
  <h1><%=l(:monitoring_day, scope: :redmine_monitoring)%> <%=h @monitoring.monitoring_day%></h1>
  <br>

  <div id="summarized_charts">
    <%=render partial: "summarized_charts", locals: {monitoring: @monitoring, all_controllers: @all_controllers}%>
  </div>

  <div id="detail_charts">
    <%=render partial: "detail_charts", locals: {monitoring: @monitoring, controllers_list: @controllers_list}%>
  </div>
<%end%>
 